.content-target-grafic {
  background-color: aliceblue;
  border-radius: 12px;
  box-shadow: 0 0 5px;
  margin-top: 20px;
}
.target-contability {
  background-color: aliceblue;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 0 0 4px;
  color: black;
  font-weight: bold;

  .sales-data {
    font-size: 40px;
    text-align: center;
    font-family: fantasy;
    text-shadow: 0 0 2px mediumspringgreen;
  }
}

#main-content{
  ion-avatar{
    margin: 4px;
  }
}

@media (min-width: 600px) {
  .grafic-card-product{
    display: none;
  }
}

@media (max-width: 600px) {
  .grafic-card-product-inverts {
    display: none;
  }
}

.without-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: cursive;
  text-decoration: underline;
  img{
      width: 150px;
  }
}