<ion-header [translucent]="true" id="main-content">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TU DEUDA</ion-title>
    <ion-avatar slot="end" (click)="presentPopover($event)">
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-item (click)="sessionOut()">
            <ion-icon [style.color]="!iconMode ? 'black' : 'white'" slot="start" size="small" name="lock-closed"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon *ngIf="iconMode" slot="start" name="sunny"></ion-icon>
            <ion-icon style="color: black;" *ngIf="!iconMode" slot="start" name="moon"></ion-icon>
            <ion-toggle
              [(ngModel)]="themeToggle"
              (ionChange)="toggleChange($event)"
              justify="space-between"
              >Dark Mode</ion-toggle
            >
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <ion-text style="font-weight: 600">
      <h1>Bienvenida,</h1>
      <p>{{nameUser}}. <span style="font-size: 25px">👋</span></p>
    </ion-text>
  </div>
  <div class="content-dashboard">
    <ion-item>
      <ion-select label="Producto" value="Todos" multiple="false" placeholder="Selecciona el producto" (ionChange)="onChange($event)">
        <ion-select-option *ngFor="let item of listProducts" [value]="item">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="content-target">
      <ion-grid class="content-target-by-product ion-justify-content-center" *ngIf="isDataProduct;else templateGrafic">
        <ion-row>
          <ion-col>
            <ion-grid class="target-contability first-target">
              <ion-row>
                <ion-col>
                  <div>Inversión: {{productData.moneyInvested | currency}}</div>
                  <div>Precio de compra: {{productData.moneyInvested / productData.quantityPurchased | currency}}</div>
                  <div>Precio de venta: {{productData.unitPrice | currency}}</div>
                  <div>Cantidad comprada: {{productData.quantityPurchased}}</div>
                </ion-col>
                <ion-col class="img-money">
                  <img src="/assets/money.png" alt="Icon Money" sizes="small" class="grafic-card-product"/>
                  <div class="target-contability grafic-card-product-inverts" *ngIf="chartOptionsPie !== undefined">
                    <apx-chart
                    [series]="chartOptionsPie.series2"
                    [chart]="chartOptionsPie.chart"
                    [dataLabels]="chartOptionsPie.dataLabels"
                    [fill]="chartOptionsPie.fill"
                    [legend]="chartOptionsPie.legend"
                    [responsive]="chartOptionsPie.responsive"
                    [title]="chartOptionsPie.title"
                  ></apx-chart>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="target-contability">
              <h4>Ganancias</h4>
              <div class="sales-data" style="font-size: 25px;">{{(((productData.unitPrice * productData.quantityPurchased) - productData.moneyInvested) / productData.moneyInvested) * 100 | number:'0.1-2'}}%</div>
              <div>
                Cantidad: {{((productData.unitPrice * productData.quantityPurchased) - productData.moneyInvested)  | currency}}
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="target-contability">
              <h4>Ventas</h4>
              <div class="sales-data">
                {{(productData.quantityInStock / productData.quantityPurchased) * 100 | number:'0.1-2'}}%
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-col sizeXl="12" class="grafic-card-product">
          <div class="target-contability" *ngIf="chartOptionsPie !== undefined">
            <apx-chart
            [series]="chartOptionsPie.series2"
            [chart]="chartOptionsPie.chart"
            [dataLabels]="chartOptionsPie.dataLabels"
            [fill]="chartOptionsPie.fill"
            [legend]="chartOptionsPie.legend"
            [responsive]="chartOptionsPie.responsive"
            [title]="chartOptionsPie.title"
          ></apx-chart>
          </div>
        </ion-col>
      </ion-grid>
      <ng-template #templateGrafic>
        <div class="content-target-grafic" *ngIf="chartOptionsBar !== undefined && listProducts.length > 0">
          <apx-chart
          [series]="chartOptionsBar.series"
          [chart]="chartOptionsBar.chart"
          [xaxis]="chartOptionsBar.xaxis"
          [title]="chartOptionsBar.title"
          [fill]="chartOptionsBar.fill"
          ></apx-chart>
        </div>
        <div class="without-product" *ngIf="listProducts.length === 0 && chartOptionsBar !== undefined">
          <img
            src="../../../assets/no-results.png"
            alt="icon flaticon not found"
          />
          <div>No tienes productos registrados</div>
          <ion-text color="primary" [routerLink]="['/inicio/productos']" routerLinkActive="router-link-active" >Ir a productos</ion-text>
        </div>
      </ng-template>

    </div>
  </div>
</ion-content>
