<ion-header [translucent]="true" id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TU DEUDA</ion-title>
    <ion-avatar slot="end" (click)="presentPopover($event)">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-icon size="small" name="lock-closed"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
          <ion-item>
            <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" justify="space-between"
            >Dark Mode</ion-toggle
          >
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
