<ion-header [translucent]="true" id="main-content">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TOTAL CAPITAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment color="secondary" value="ganancias" [(ngModel)]="selectedSeg">
    <ion-segment-button value="ganancias">
      <ion-label [style.color]="selectedSeg !== 'ganancias' ? 'darkgray' : 'var(--ion-color-secondary)'">Ganancias</ion-label>
    </ion-segment-button>
    <ion-segment-button value="detalle">
      <ion-label [style.color]="selectedSeg !== 'detalle' ? 'darkgray': 'var(--ion-color-secondary)'">Detalle anual</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="selectedSeg">
    <div *ngSwitchCase="'ganancias'">
      <app-ganancias [products]="products" [otherDebts]="otherDebts" [debtors]="debtors" [historyOtherDebts]="History_OtherDebt"></app-ganancias>
    </div>
    <div *ngSwitchCase="'detalle'">
      <app-detail-year></app-detail-year>
    </div>
    <div *ngSwitchDefault>
      output2
    </div>
  </div>
</ion-content>