<ng-container *ngIf="showDetail; else templateLoading">
  <ion-header [translucent]="true">
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Detalle del deudor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="showDetail" class="ion-padding">
    <div class="info-client">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <div>
        <div><b>{{dataUser.name}}</b></div>
        <div>Phone: {{dataUser.phone}}</div>
        <div>Fecha: {{dataUser.audit_CreatedOnDate| date}}</div>
      </div>
    </div>
    <div *ngIf="dataUser.detail !== ''">
      <h4>Detalle del deudor</h4>
      <p>{{dataUser.detail}}</p>
    </div>
    <div class="content-list">
      <h4>Lista de compras</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Deuda</th>
          </tr>
        </thead>
        <tbody *ngIf="dataUser.listaDeudas; else noneListDebts">
          @for (item of dataUser.listaDeudas; track item.debtsID) {
          <tr>
            <td>{{getNameProduct(item.productID)}}</td>
            <td>{{item.dateOfPurchase | date}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.totalAccount}}</td>
          </tr>
          }
        </tbody>
        <ng-template #noneListDebts>
          <div class="message-none-debt">
            El cliente no tiene deudas contigo...
          </div>
        </ng-template>
      </table>
    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button
          [disabled]="!dataUser.listaDeudas"
          color="primary"
          (click)="setOpen_abono(true)"
        >
          <ion-icon name="cash-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="danger" (click)="onDeleteClient()">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="success" id="open-modal" expand="block">
          <ion-icon name="card"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar color="success">
            <ion-buttons slot="start">
              <ion-button color="primary" (click)="cancel()"
                >Cancelar</ion-button
              >
            </ion-buttons>
            <ion-title>Nueva deuda</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true" color="primary"
                >Confirmar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="content-form">
            <ion-input
              class="mb-3"
              type="text"
              label="Nombre del deudor"
              label-placement="floating"
              fill="outline"
              placeholder="Nombre deudor"
              disabled
              [(ngModel)]="NameDeudor"
            >
            </ion-input>
            <div class="mb-3">
              <ion-input
                type="number"
                label="Cantidad"
                label-placement="floating"
                fill="outline"
                required
                placeholder="Cantidad"
                [(ngModel)]="quantity"
                (ngModelChange)="onInputQuantityChange($event)"
              />
              <div class="alertErrorForm" *ngIf="errorCantidad">
                Este campo es requerido *
              </div>
            </div>
            <div class="mb-3">
              <ion-item>
                <ion-select
                  label="Producto"
                  multiple="false"
                  placeholder="Select Product"
                  [(ngModel)]="selectProduct"
                  (ngModelChange)="onInputProductChange($event)"
                >
                  <ion-select-option
                    *ngFor="let item of listProducts"
                    [value]="item.productID"
                    >{{item.name}}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <div class="alertErrorForm" *ngIf="errorSelect">
                Este campo es requerido *
              </div>
            </div>
          </div>
          <div class="content-pricetotal">
            <div class="price">
              <div>
                Precio a pagar: {{(this.quantity || 0) * getPriceProduct() | currency:'$'}}
              </div>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-toast
      [isOpen]="isToastOpen"
      [message]="messageToast"
      [duration]="5000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>

    <ion-modal id="modal-abono" [isOpen]="isOpenModalAbono">
      <ng-template>
        <ion-header>
          <ion-toolbar color="success" style="padding-left: 20px">
            <ion-title>Abono</ion-title>
          </ion-toolbar>
        </ion-header>
        <div class="ion-padding">
          <form>
            <div class="mb-3">
              <ion-input
                label="Nombre del deudor"
                labelPlacement="floating"
                fill="outline"
                type="text"
                disabled
                placeholder="Nombre del deudor"
                [(ngModel)]="NameDeudor"
                [ngModelOptions]="{standalone: true}"
              />
            </div>
            <div>
              <ion-input
                label="Monto adeudado"
                labelPlacement="floating"
                fill="outline"
                type="number"
                placeholder="Monto adeudado"
                [(ngModel)]="montoAdeudado"
                [ngModelOptions]="{standalone: true}"
              />
            </div>
          </form>
        </div>
        <ion-footer [translucent]="true" style="text-align: center;">
          <ion-toolbar >
            <ion-button
              color="success"
              fill="outline"
              slot="start"
              (click)="cancel_abono()"
              >Cancelar</ion-button
            >
            <ion-button
              color="success"
              (click)="confirm_abono()"
              [strong]="true"
              >Confirmar</ion-button
            >
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </ion-content>
  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-title>Total Abonado: ${{dataUser.amountPaid}}</ion-title>
      <hr style="margin: 0" />
      <ion-title>Total Deuda: ${{dataUser.debt}}</ion-title>
    </ion-toolbar>
  </ion-footer>
</ng-container>

<ng-template #templateLoading>
  <ion-header [translucent]="true">
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Detalle del deudor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-content>
</ng-template>
