ion-avatar {
    --border-radius: 4px;
}
.info-client {
    display: flex;
    gap: 18px;
    align-items: center;
    padding-block-end: 20px;
}
ion-title {
    padding: 0;
}
.message-none-debt {
    position: absolute;
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-pricetotal {
    margin-top: 20px;
    border: 2px solid darkseagreen;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 0 4px mediumspringgreen;
    .price {
        padding: 5px;
        text-align: center;
        font-size: x-large;
        font-weight: 600;
    }
}