<div class="ion-page" *ngIf="showPage;else TemplateLoading">
  <ion-header [translucent]="true">
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>OTRAS DEUDAS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-searchbar
      #search
      (ionInput)="handlerInput($event)"
      placeholder="Nombre del deudor"
    ></ion-searchbar>
    <ion-grid class="content-list">
      @for (item of listResultFilter; track $index) {
      <ion-row button class="item-list" (click)="onClick(item.debtorsID)">
        <ion-col class="content-avatar">
          <ion-avatar>
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
        </ion-col>
        <ion-col>
          <div class="content-info">
            <ion-title>{{item.debtorName}}</ion-title>
            <ion-text> {{item.audit_CreatedOnDate | date}} </ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div class="content-debt">{{item.debt | currency:'$'}}</div>
        </ion-col>
      </ion-row>
      <hr style="margin: 0" />
      }
    </ion-grid>
    <div
      *ngIf="listOtherDebts.length > 0 && listResultFilter.length === 0"
      class="not-found"
    >
      <img
        src="../../../assets/communication.png"
        alt="icon flaticon not found"
      />
      Deudor no encontrado
    </div>
    <div *ngIf="listOtherDebts.length === 0" class="without-debtors">
      <img src="../../../assets/sad.png" alt="without debtors" />
      Aun no tienes deudas registradas!!!
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button
      color="success"
        id="modal-add-debt"
        expand="block"
        shape="round"
      >
        AGREGAR DEUDA
      </ion-button>
    </ion-fab>

    <ion-modal
      id="modal-add-debt"
      #modal
      trigger="modal-add-debt"
      (willDismiss)="resetForm()"
    >
      <ng-template>
        <ion-header [translucent]="true">
          <ion-toolbar color="success">
            <ion-title>Agregar deuda</ion-title>
          </ion-toolbar>
        </ion-header>
        <form
          [formGroup]="formOtherDebt"
          (submit)="onSubmit()"
          style="padding: 5px"
        >
          <ion-input
            type="text"
            aria-label="Success input"
            color="success"
            placeholder="Nombre de la deuda"
            formControlName="nameDebt"
          ></ion-input>
          <br />
          <ion-input
            type="number"
            aria-label="Success input"
            color="success"
            placeholder="Dinero adeudado"
            formControlName="money"
          ></ion-input>
          <br />
          <ion-select
            aria-label="Success input"
            color="success"
            interface="popover"
            placeholder="Nombre del deudor"
            formControlName="debtorsID"
          >
            @for (item of listDebts; track $index) {
            <ion-select-option [value]="item">{{item.name}}</ion-select-option>
            }
          </ion-select>
          <br />
          <ion-buttons class="ion-justify-content-around">
            <ion-button
              (click)="this.modal.dismiss()"
              slot="start"
              expand="block"
              fill="outline"
              shape="round"
              color="success"
            >
              Cancelar
            </ion-button>
            <ion-button
              type="submit"
              [disabled]="formOtherDebt.invalid"
              fill="solid"
              slot="end"
              expand="block"
              shape="round"
              color="success"
            >
              Agregar
            </ion-button>
          </ion-buttons>
        </form>
      </ng-template>
    </ion-modal>

    <ion-modal
      id="debts-modal"
      [isOpen]="isOpen"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <div class="wrapper">
          <h4>Nombre de las deudas</h4>
          <ion-list lines="none">
            @for (item of listNameDebt; track $index) {
            <ion-item button="true" detail="false">
              <ion-label>{{item}}</ion-label>
            </ion-item>
            }
          </ion-list>
        </div>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>

<ng-template #TemplateLoading>
  <ion-header [translucent]="true">
    <ion-toolbar color="success">
      <ion-title>OTRAS DEUDAS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-content>
</ng-template>
