.item-list {
    display: flex;
    align-items: center;
    padding: 5px;
    ion-avatar {
        --border-radius: 4px;
    }
    .content-info {
        text-align: center;
    }
}

ion-modal#debts-modal, ion-modal#modal-add-debt {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#debts-modal h4 {
margin: 20px 20px 10px 20px;
}

ion-modal#debts-modal .wrapper {
margin-bottom: 10px;
}

.not-found, .without-debtors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: cursive;
    text-decoration: underline;
    img{
        width: 150px;
    }
}