<div class="ion-page" *ngIf="viewPage;else templateLoading">
  <ion-header [translucent]="true" id="main-content">
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>DEUDORES</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <table
      class="table table-striped"
      *ngIf="listDebts.length > 0;else withoutProduct"
    >
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Deuda</th>
        </tr>
      </thead>
      <tbody>
        @for (item of getPageItems(); track item.debtorsID) {
        <tr
          button
          [routerLink]="['/inicio/deudores/detalle', item.debtorsID]"
          routerLinkActive="router-link-active"
        >
          <td>{{item.name}}</td>
          <td>${{item.debt}}</td>
        </tr>
        }
      </tbody>
    </table>
    <ng-template #withoutProduct>
      <div class="contentFlex">
        <ion-card color="light" class="card-box">
          <ion-card-header>
            <ion-card-title>Sin clientes!!</ion-card-title>
            <ion-card-subtitle>Inicia tu negocio</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Agrega tu primer cliente </ion-card-content>
          <ion-button color="success" (click)="toggleOpenModal()" expand="block">
            <ion-icon name="add-outline"></ion-icon>
            Nuevo deudor
          </ion-button>
        </ion-card>
      </div>
    </ng-template>

    <nav aria-label="Page navigation" *ngIf="listDebts.length > 0">
      <ul class="pagination">
        <li class="page-item" (click)="prevPage()">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let page of getCountItem(); let i = index"
        >
          <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" (click)="nextPage()">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <ion-button color="success"
      class="button-plus-debt"
      (click)="toggleOpenModal()"
      expand="block"
      *ngIf="listDebts.length > 0"
    >
      <ion-icon name="add-outline"></ion-icon>
      Nuevo deudor
    </ion-button>

    <ion-modal
      #modal
      [isOpen]="isOpenModal"
      [enterAnimation]="enterAnimation"
      [leaveAnimation]="leaveAnimation"
      [presentingElement]="presentingElement"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar color="success">
            <ion-title>Nuevo Cliente</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="ion-padding content-form-product">
            <form [formGroup]="filterDebts" (ngSubmit)="onSubmit()">
              <div class="content-inputs">
                <div class="mb-3">
                  <ion-input
                    label="Nombre del cliente" 
                    label-placement="floating" 
                    fill="outline"
                    type="text"
                    required
                    formControlName="Name"
                    placeholder="Nombre del cliente"
                  />
                  <div
                    *ngIf="filterDebts.get('Name').invalid && filterDebts.get('Name').touched"
                    class="alertErrorForm"
                  >
                    <div *ngIf="filterDebts.get('Name').errors['required']">
                      El nombre del cliente es requerido.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <ion-input
                    label="Telefono"
                    label-placement="floating"
                    fill="outline"
                    type="text"
                    formControlName="Phone"
                    placeholder="Telefono"
                  />
                </div>
                <div class="mb-3">
                  <ion-input
                    label="Detalle"
                    label-placement="floating"
                    fill="outline"
                    type="text"
                    formControlName="Detail"
                    placeholder="Detalle"
                  />
                </div>
              </div>
              <div class="buttons-form">
                <ion-button color="success" fill="outline" (click)="close()">Cerrar</ion-button>
                <ion-button color="success" type="submit">Confirmar</ion-button>
              </div>
            </form>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>
<ng-template #templateLoading>
  <ion-header [translucent]="true">
    <ion-toolbar color="success">
      <ion-title>DEUDORES</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-content>
</ng-template>